    <div class="container" data-toggle="popover" id = "cont">
    <span class="expanded">
      <div class="image-button">
        <button id="emoji1" style="position:relative; margin-left:10px"><img src="images/emoji/emoji1.png" onclick="hideBorder('emoji1')"alt="1" style="height:30px;width:30px;"></button>
        <button id="emoji2" style="position:relative; margin-left:10px"><img src="images/emoji/emoji2.png" onclick="hideBorder('emoji2')" alt="2" style="height:30px;width:30px"></button>
        <button id="emoji3"style="position:relative; margin-left:10px"><img src="images/emoji/emoji3.png" onclick="hideBorder('emoji3')" alt="3" style="height:30px;width:30px"></button>
        <button id="emoji4"style="position:relative; margin-left:10px"><img src="images/emoji/emoji4.png" onclick="hideBorder('emoji4')" alt="4" style="height:30px;width:30px"></button>
        <button id="emoji5"style="position:relative; margin-left:10px"><img src="images/emoji/emoji5.png" onclick="hideBorder('emoji5')" alt="5" style="height:30px;width:30px"></button>
        <button id="emoji6"style="position:relative; margin-left:10px" ><img src="images/emoji/emoji6.png" onclick="hideBorder('emoji6')" alt="6" style="height:30px;width:30px"></button>
        <button id="emoji7"style="position:relative; margin-left:10px"><img src="images/emoji/emoji7.png" onclick="hideBorder('emoji7')" alt="7" style="height:30px;width:30px"></button>
        <button id="emoji8"style="position:relative; margin-left:10px"><img src="images/emoji/emoji8.png" onclick="hideBorder('emoji8')" alt="8" style="height:30px;width:30px"></button>
        <button id="emoji9"style="position:relative; margin-left:10px"><img src="images/emoji/emoji9.png" onclick="hideBorder('emoji9')" alt="9" style="height:30px;width:30px"></button>
        <button id="emoji10"style="position:relative; margin-left:10px"><img src="images/emoji/emoji10.png" onclick="hideBorder('emoji10')" alt="10" style="height:30px;width:30px"></button>
        <button id="emoji11" style="position:relative; margin-left:10px"><img src="images/emoji/emoji11.png" onclick="hideBorder('emoji11')" alt="11" style="height:30px;width:30px"></button>
        <button id="emoji12"style="position:relative; margin-left:10px"><img src="images/emoji/emoji12.png" onclick="hideBorder('emoji12')" alt="12" style="height:30px;width:30px"></button>
        <button id="emoji13"style="position:relative; margin-left:10px"><img src="images/emoji/emoji13.png" onclick="hideBorder('emoji13')" alt="13" style="height:30px;width:30px"></button>
        <button id="emoji14"style="position:relative; margin-left:10px"><img src="images/emoji/emoji14.png" onclick="hideBorder('emoji14')" alt="14" style="height:30px;width:30px"></button>
        <button id="emoji15"style="position:relative; margin-left:10px"><img src="images/emoji/emoji15.png" onclick="hideBorder('emoji15')" alt="15" style="height:30px;width:30px"></button>
        <button id="emoji16"style="position:relative; margin-left:10px" ><img src="images/emoji/emoji16.png" onclick="hideBorder('emoji16')" alt="16" style="height:30px;width:30px"></button>
        <button id="emoji17"style="position:relative; margin-left:10px"><img src="images/emoji/emoji17.png" onclick="hideBorder('emoji17')" alt="17" style="height:30px;width:30px"></button>
        <button id="emoji18"style="position:relative; margin-left:10px"><img src="images/emoji/emoji18.png" onclick="hideBorder('emoji18')" alt="18" style="height:30px;width:30px"></button>
        <button id="emoji19"style="position:relative; margin-left:10px"><img src="images/emoji/emoji19.png" onclick="hideBorder('emoji19')" alt="19" style="height:30px;width:30px"></button>
        <button id="emoji20"style="position:relative; margin-left:10px"><img src="images/emoji/emoji20.png" onclick="hideBorder('emoji20')" alt="20" style="height:30px;width:30px"></button>
      </div>
    </span>
    <span class="collapsed"><img src="images/emoji/emoji1.png"style="height:30px;width:30px;"></span>
    <a href="javascript:void(0)" class="collapsed" id="open">Select Emoji</a>