<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Edit Profile | Mood Map</title>
    <link rel="icon" type="image/png" href="images/fav.png">
    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="css/cosmo.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="http://jasny.github.io/bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="https://jasny.github.io/bootstrap/examples/navmenu-reveal/navmenu-reveal.css" rel="stylesheet">
   <link href="css/custom.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <a href="/MainPage" id="backlink">&laquo; Back to Map</a>
    <div class = "rows">
      <div class="col-xs-12">
        <div class="modal-dialog">
          <div class = "modal-content">
            <div class = "modal-header">
                <h4 class="modal-title" id="header-title">Edit Profile</h4>
            </div>

            <div class="modal-body">

              <div class="form-group">
                <div class="rows">
                  <div class="col-lg-12">
                    <input class="form-control input-lg" name="email" placeholder="ck11@ucsd.edu" type="text">  
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="rows">
                  <div class="col-lg-12">

                    <input class="form-control input-lg" id="username" name="username" placeholder="JoanneW" type="text">  
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="rows">
                  <div class="col-lg-12">
                    <input class="form-control input-lg" id="password" name="password" placeholder="***********" type="password">  
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="rows">
                  <div class="col-lg-12">
                    <input class="form-control input-lg" id="interest" name="interest" placeholder=" #CS, #Music, #Swimming " type="text">  
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="rows">
                  <div class="col-lg-12">
                    <div class="form-control">
                      <a class="dropdown"id="gender" role="button" data-toggle="dropdown" ><span class="selection">Female</span>
                      <span class="caret"></span></a>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a tabindex="-1" href="#">Male</a></li>
                        <li><a tabindex="-1" href="#">Female</a></li>
                        <li><a tabindex="-1" href="#">Other</a></li>
                      </ul>
                    </div>
                 </div>
                </div>
              </div>

              <div class="form-group">
                <div class="rows">
                  <div class="col-lg-12">
                    <div class="form-control">
                      <div class="fileUpload">
                        <a class="upload" href='javascript:;'>Change Profile Picture
                        <input type="file"class="upload" onchange='$("#upload-file-info").html($(this).val());'/>
                        </a>
                      <span class='label label-info' id="upload-file-info">myProfilePic.gif</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>


            <br>
        
          <!-- Button -->
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" id="submit" href="/MainPage">Done</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" id="cancel" href="/MainPage">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  <div id="ack"></div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-1.11.0.js"></script>


    <script type="text/javascript">  
      $(".dropdown-menu li a").click(function(){
        $(this).parents(".form-group").find('.selection').text($(this).text());
        $(this).parents(".form-group").find('.selection').val($(this).text());
      });


      $('#submit').click(function(){
        window.location='/MainPage'
      });

      $('#cancel').click(function(){
        window.location='/MainPage'
      });

      $('input[type=file]').bootstrapFileInput();

    </script>

  </body>
</html>