<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Friends | Mood Map</title>
    <link rel="icon" type="image/png" href="images/fav.png">
    <!-- Bootstrap -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,700' rel='stylesheet' type='text/css'>
    <link href="css/cosmo.min.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="http://jasny.github.io/bootstrap/dist/css/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="https://jasny.github.io/bootstrap/examples/navmenu-reveal/navmenu-reveal.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	<style>
	
	#title,imgs {
	text-align:center;
	}
	#each{
	height:50px;
	}
	#red {
	background-color: rgb(255, 87, 87);
  
  color: white;
	}
	
	
	</style>
	
	
  </head>
  <body>
    <div class="container-fluid" id = "imgcontainter">

	<h1 id ="title">Friends</h1>
		<div class="row">
	 {{#each friends}}
  
  <div class="col-lg-4 col-sm-6 col-xs-12" id="imgs">
  <a href="#" class="thumbnail">
  <h3 id ="title">{{name}}</h3>
             <img src="{{imageURL}}" class="img-responsive"  id="each"><br>
			 <button type="button" class="btn btn-block" id="msg">Message</button>
			 
  <button id="red"type="button" class="btn btn-block">Delete</button>
        </a>
  
  </div>
  
  
  
  
  
  
	 {{/each}}
   

    
		
    </div>
	<div class="bs-example">
  
    <!-- Modal HTML -->
    <div id="myModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Confirmation</h4>
                </div>
                <div class="modal-body">
                    <p>Do you want to save changes you made to document before closing?</p>
                    <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
	</div>
 
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script type="text/javascript">
$(document).ready(function(){
	$("#msg").click(function(){
		$("#myModal").modal('show');
	});
});
</script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-1.11.0.js"></script>

  </body>
</html>