#cont {
  max-width:400px
}

body {
  color:#FFF;
  background-color:#fc0;
  padding-bottom:20px
}

#logo {
  max-width:100%
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
  background-color: red;
}