#cont {
  max-width:400px
}

body {
  color:#3e89e6;
  background-color:#C5EED6;
  padding-bottom:20px
}

#logo {
  max-width:100%
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  background-color: #000;
}
.btn-default {
  color:#ffffff;
  background-color:#3e89e6;
  border-color:#3e89e6;
  padding: 10px 18px;
  margin-top:8px;
}

.btn-danger{
  margin-top:0px;
}

.contedge{
  margin: 5%;
}


.form-group {
margin-bottom: 0px;
}

.form-control {
height: 35px;
}