#cont {
  max-width:400px
}

body {
  color:#3e89e6;
  background-color:#C5EED6;
  padding-bottom:20px
}

#logo {
  max-width:100%
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  background-color: #000;
}
.btn-default {
  color:#ffffff;
  background-color:#3e89e6;
  border-color:#3e89e6
}

.contedge{
  margin: 5%;
}
